
* {
    margin: 0;
}

body {
    background-color: blueviolet;
    font-family: sans-serif;
}

h2 {
    color: black;
    font-family: 'Tapestry', cursive;
    margin: 0 2% 0 2%;
}

header {
    display: flex;
    min-height: 70px;
    background: #a52be2;
    justify-content: space-between;
    align-items: center; /* para centrar */
    padding: 10px;
    border: ridge gray;
}

main {
    text-align: center;
}

#lienzo {
    background-image: url(./../Imagenes/posibleImagendeFondo.jpg);
    background-repeat: no-repeat;
    background-size: 200%;
    border: ridge gray;
    display: flex;
}

section {
    width: 500px;
    position: absolute;
    top: 126px;
    font-size: 500%;
    margin-left: 36.5%;
}

footer {
    position: fixed;
    bottom: 0;
    margin-left: 90%;
}

footer a img {
    width: 60%;
}