body{
    background-color: blueviolet;
    font-family: sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    min-height: 70px;
    background: #a52be2;
    justify-content: space-between;
    align-items: center;/* para centrar */
    padding: 10px;
    border: ridge gray;
}
.encabezado{
    display: flex;
    align-items: center;
}
.encabezado img{
    height: 50px;
    margin-right: 10px;
}
.encabezado h2{
    font-weight: 600;
    padding-right: 550px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

@media (max-width: 700px) { /* opcion encontrada en google, lo utilice para centrarlo bien  */
    header {
        flex-direction: column;
        padding: 10px 0px;
    }
}
.icono_flecha{
    width: 175px;
    height: 175px;
    position:absolute;
    top: 500px;
    right: 100px;
    font-size: 300%;

}



